
<style>

* {
	font-family: "helvetica";
	font-size: 40px;
}

li {
	line-height: 60px;
}

input {
	margin-bottom: 20px;
	display: block;
	width: 80%;
}

</style>


<body>
<h1>Surftracker</h1>

<ul>
	<li><a href="/reset">reset</a>
	<li><a href="/mapdata">mapdata</a>
</ul>


<h1>Add location</h1>


<input value="52.33434717724598,5.021970019095006" id="maps" placeholder="google maps coordinates">
<input type="button" id="form1" onclick="setLocation();" value="Submit" />




<script>


function setLocation() {

		var mapscoord = document.querySelector('#maps').value.split(",")

	
		var payload = {
		    longitude: Number(mapscoord[1]),
		    latitude: Number(mapscoord[0]),
		    speed: -1,
		    course: -1,
		    timesend: Date.now()/1000
		};

	const requestOptions = {
    	method: 'POST',
    	headers: { 'Content-Type': 'application/json' },
    	body: JSON.stringify(payload)
	};

	fetch('/setlocation', requestOptions);


	
}
</script>



</body>